/*body, html {
	font-family: "LL Circular Pro Book Web";
}*/

.navbar.is-primary {
	background-color: #FF681E;
	height: 110px;
	font-size: 45px;
}

.navbar a:hover {
	background-color: #e57238 !important;
}

#navMenu {
	font-size: 25px;
	background-color: #FF681E;
	color: white;
}

.navbar-link, a.navbar-item:hover, a.navbar-item:before{
	color:white !important;
}

.navbar-item, .navbar-link{
	color:white;
}

.btn_editar{
	background:#fb6830 !important; 
	color:white !important;
}

.btn_detalles{
	background:#3a5fab !important; 
	color:white !important;
}

a[target] ,input[type="number"]{
  
}

input[type="number"]:focus { 
  border-color: #3a5fab !important;
}

.select:visited{
	color: #3a5fab !important;
}
.select:not(.is-multiple):not(.is-loading):after{
	color: red !important;
}

select:focus select:before { 
  border-color: #3a5fab !important;
}

.select is-empty{
	color:#3a5fab;
}

.pagination-link.is-current{
	 background-color: #3a5fab !important;
}

.b-radio.radio input[type=radio]:checked+.check {
    border-color: #3a5fab !important;
}
.b-radio.radio input[type=radio]+.check:before {
    background: #3a5fab;
    border-color: #3a5fab !important;
}

.b-radio.radio:hover input[type=radio]+.check{
	border-color: #3a5fab !important;
}


.switch input[type=checkbox]:checked+.check {
    background: #3a5fab !important;
}


.label_color{
	color: #3a5fab !important;
	padding-top: 30px;
	text-align: center;
}

.lbl_months{
	font-size:12px;
	color: #3a5fab !important;	
	font-weight: bold;
}

.card-header-title{
	border:1px solid #FF681E;
	color:#3a5fab;
	text-align: center;
	display:inline; 
}

.title-color{
	color:#3a5fab; 
	text-align: center;
}

.card-footer{
	border:1px solid #FF681E;
	color:#3a5fab;
}

.card-footer-item{
	color:#3a5fab; 
}

.is-info.is-outlined{
	border-color: ##3a5fab !important;
    color: ##3a5fab !important;
}

.button{
	border-color: ##3a5fab !important;
    color: ##3a5fab !important;
}

.button.is-info.is-outlined:focus{
	border-color: #3a5fab !important;
    background-color: #3a5fab !important;
}
.button.is-info.is-outlined:hover{
	border-color: #3a5fab !important;
    background-color : #3a5fab !important;
}

.select:not(.is-multiple):not(.is-loading):after{
	border-color: #3a5fab !important;
}
.select:not(.is-multiple):not(.is-loading){
	border-color: #3a5fab !important;
}

.class-section{
	border:solid 1px #b5b5b5;
	padding:  30px;
} 

.th-wrap{
	color: #3a5fab !important;
	font-weight: bold;
	
}

.b-table .table thead {
    font-weight: 600;
	color:red;
}

.b-table .table {
	border:1.5px solid #FF681E !important;
}

.div-titulos{
	color: #3a5fab !important;
	font-weight: bold;
	text-align: center;
	border:2px solid #FF681E !important;
	font-size: 20px;
}

.td-cantidad{
	text-align: right;
}

.centra-text{
	text-align: center;	
}

.column{
	padding: 5px;
}

.input:after, .input:focus{
	border-color: #3a5fab !important;
}

.footer{
	background-color: #3a5fab !important;
	color:white;
}