/*body, html {
	font-family: "LL Circular Pro Book Web";
}*/

.navbar.is-primary {
	background-color: #FF681E;
	height: 110px;
	font-size: 45px;
}

.navbar a:hover {
	background-color: #e57238 !important;
}

#navMenu {
	font-size: 25px;
}

.btn_editar{
	background:#fb6830 !important; 
	color:white !important;
}

.btn_detalles{
	background:#3a5fab !important; 
	color:white !important;
}

a[target] ,input[type="number"]{
  
}
input[type="number"]:focus { 
  border-color: #3a5fab !important;
}

select:focus { 
  border-color: #3a5fab !important;
}

.pagination-link.is-current{
	 background-color: #3a5fab !important;
}

.b-radio.radio input[type=radio]:checked+.check {
    border-color: #3a5fab !important;
}
.b-radio.radio input[type=radio]+.check:before {
    background: #3a5fab;
}

.switch input[type=checkbox]:checked+.check {
    background: #3a5fab !important;
}

.title-color{
	color: #3a5fab !important;
}